<head>
    <meta charset="utf-8">
    <title>Community Carpool</title>
    <meta name="description" content="Community Carpool is a safe, community-based ridesharing service for families." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/css/animate.min.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/css/ionicons.min.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}"/>
</head>
